/* line 6, ../../sass/components/buttons.scss */
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* line 12, ../../sass/components/buttons.scss */
.btn-inverse:hover {
  background-color: #3c3c3c;
}

/* line 16, ../../sass/components/buttons.scss */
.btn-inverse {
  background-color: #222;
  border-color: #999;
}
/* line 19, ../../sass/components/buttons.scss */
.btn-inverse.active {
  background-color: #555555;
}
